
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .przywitanie {
    background-color: $primary-color;
    color: white;
    text-align: center;
    width: 100%;
    padding: 20px;
    border-radius: $border-radius;
    font-size: 30px;
    margin-bottom: 20px;

    img {
      width: 100px;
      border-radius: 50%;
      margin-bottom: 10px;
    }
  }

  .login-section {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    background-color: $color-background;
    border: 2px solid $secondary-color;
    border-radius: $border-radius;
    max-width: 400px;
    width: 100%;
    box-shadow: $box-shadow;

    h2 {
      color: $color-h1;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;

      label {
        margin-bottom: 5px;
        color: $text-color;
      }

      input,
      textarea {
        padding: 10px;
        margin-bottom: 10px;
        border: 2px solid $secondary-color;
        border-radius: $border-radius;
        width: 100%;
        box-shadow: $box-shadow;
      }

      button {
        padding: 10px;
        background-color: $primary-color;
        color: white;
        border: none;
        border-radius: $border-radius;
        cursor: pointer;
        border: 3px solid $color-background;
        transition: border-color 0.2s ease;

        &:hover {
          border-color: $primary-color;
        }
      }
    }
  }

  h1 {
    text-align: center;
    padding: 20px;
    color: $color-h2;
  }

  .news-section {
    padding: 20px;
    width: 100%;

    .news-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .news-item {
        width: 100%;
        max-width: 400px;
        margin: 10px;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        background-color: $color-background;
        padding: 10px;
        border: 3px solid $secondary-color;
        box-shadow: $box-shadow;

        img {
          width: 100%;
          height: auto;
          max-height: 200px;
          object-fit: cover;
          border-top-left-radius: $border-radius;
          border-top-right-radius: $border-radius;
        }

        .news-content {
          padding: 20px;

          h2 {
            margin-bottom: 10px;
            color: $color-h3;
          }

          p {
            margin-bottom: 20px;
            color: $text-color;
          }
        }
      }
    }
  }

  .comments-section {
    padding: 20px;
    margin-bottom: 20px;
    border: 3px solid $secondary-color;
    border-radius: $border-radius;
    background-color: $color-background;
    max-width: 800px;
    width: 100%;
    box-shadow: $box-shadow;

    .comments-header {
      margin-bottom: 20px;
      color: $text-color;
    }

    .comments-form {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      label {
        margin-bottom: 5px;
        color: $text-color;
      }

      input,
      textarea {
        padding: 10px;
        margin-bottom: 10px;
        border: 2px solid $secondary-color;
        border-radius: $border-radius;
        width: 100%;
        box-shadow: $box-shadow;
      }

      button {
        padding: 10px;
        background-color: $primary-color;
        color: white;
        border-radius: $border-radius;
        border: 3px solid $color-background;
        cursor: pointer;
        transition: border-color 0.2s ease;

        &:hover {
          border-color: $primary-color;
        }
      }
    }

    .comments-list {
      width: 100%;

      .comment {
        margin-bottom: 10px;
        color: $text-color;
      }
    }
  }
}

// Media queries for responsiveness
@media (min-width: 600px) {
  .news-item {
    width: calc(50% - 20px);
  }
}

@media (min-width: 900px) {
  .news-item {
    width: calc(33.333% - 20px);
  }
}
